body {
  background: linear-gradient(to bottom, rgba(255, 247, 242, 0.4),rgba(255, 236, 224, 0.5)) fixed;
}

aside {
  top: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  background: rgba(252, 182, 94, 0.4);
  position: fixed;
  overflow-y: auto;
  padding: 0.4em;
  border-radius: 1em;
  width: 300px;
}

aside span.small{
  font-size: 0.9em;
}

aside form input {
  margin-bottom: 0.5rem!important;
}

main {
  margin: 1em;
  padding-right: 310px;
}

main table#userList a {
  text-decoration: none;
}

form .ui.icon.input > i.info.icon {
  cursor: help;
}

@media screen and (max-width: 700px){
  aside {width: 200px;}
  main {padding-right: 210px;}
}
