html, body {margin: 0;}
#unansweredCount {
    background: #D95C5C;
    padding: 4px 8px;
    border-radius: 0.5em;
    font-weight: bold;
    color: #FFF;
    font-family: sans-serif;
}
nav.ui.fluid.menu {
  margin: 0;
  background-color: #F89D2A;
  border-radius: 0;
  font-family: comfortaa, segoe ui, sans-serif;
}
nav.ui.menu img.item {
  padding: 2px 0;
  background: radial-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.4));
}

#githubribbon {
  background: black;
  color: aliceblue;
  display: inline-block;
  position: absolute;
  padding: 4px 70px;
  transform: translate(-25%, -35%) rotateZ(-30deg);
}

h1.ui.black.block.huge.header {
  font-family: segoe ui, trebuchet ms, tahoma, sans-serif;
  font-weight: 100;
}

h1.ui.header > img {
  float:right;
  margin-top:-0.6em;
}
