#githubribbon {
  background: black;
  color: aliceblue;
  display: inline-block;
  position: absolute;
  padding: 4px 70px;
  transform: translate(-25%, -35%) rotateZ(-30deg);
}

h1.ui.black.block.huge.header {
  font-family: segoe ui, trebuchet ms, tahoma, sans-serif;
  font-weight: 100;
}

h1.ui.header > object {
  float:right;
  margin-top:-0.6em;
}
