aside {
  top: 3.5em;
  right: 0.5em;
  bottom: 0.5em;
  position: fixed!important;
  overflow-y: auto;
  width: 300px;
}

aside span.small{
  font-size: 0.9em;
}

aside form input {
  margin-bottom: 0.5rem!important;
}

main {
  margin: 1em;
  padding-right: 310px;
}

main table#userList a {
  text-decoration: none;
}

form .ui.icon.input > i.info.icon {
  cursor: help;
}

@media screen and (max-width: 700px){
  aside {width: 200px;}
  main {padding-right: 210px;}
}
