/*  Will be merged to general.css once
the top bar is added to all pages */

#unansweredCount {
    background: #D95C5C;
    padding: 4px 8px;
    border-radius: 0.5em;
    font-weight: bold;
    color: #FFF;
    font-family: sans-serif;
}
nav.ui.fluid.menu {
  margin: 0;
  background-color: #F89D2A;
  border-radius: 0;
  font-family: segoe ui, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
}
nav.ui.menu .item:first-child {
  font-family: Damion, cursive;
  padding: 0;
  font-size: 2rem;
}

body {
  padding-top: 2.5em;
}
