Options -Indexes

RewriteEngine On
RewriteBase /pa/

#comment out to keep trailing slashes
RewriteRule ^(.+)/$ $1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ index.php?$1 [QSA,L]

<Files *.ini>
  Order deny,allow
  Deny from all
</Files>
