.faq:not(:last-child){
  margin-bottom: 1em;
}

@media only screen and (min-width : 768px) {
  .faq p.segment {height: 5em;}
}

h1.ui.orange.inverted.block.header {
  background-color:#F8981F;
  border-radius: 1em;
  font-family: 'Bookman Old Style', Garamond, serif;
}

h3.ui.inverted.header {
  background-color: #18AECA;
}