.aloneInPage{margin-top:5em !important;}

div.question:not(.icon) {
  margin: 1.2em 1em;
  max-width: 920px;
}

div.question>.ui.header {
  background-color: #F8981F;
  background-image: linear-gradient(to bottom, #F8A11F, #EE911D);
  color: #FFF;
  padding-bottom: 0.4em;
}
div.question>.ui.header table {width: 100%;}
div.question>.ui.header table td:nth-child(2){text-align: right;}
div.question>.ui.header table a {color: #EEF;}
div.question>.ui.header table a:hover {color:#FFF;}
div.question>.ui.header table td:nth-child(2) a { font-size: 0.9em;}
div.question div.links {float: right;}
div.question .ui.segment > h3.header { margin-top: 0;}
body:not([data-owner]) div.question .ui.segment > h3.header { font-family: inherit;}

/*space for the floated div.links*/
div.question .ui.segment {min-height: 4em;}

#qContainer,.center940 {
  max-width: 940px;
  margin: auto;
}

/*name to add significance*/
form.answer textarea[name="answer"] {
  height: 8em;
  margin-bottom: 1em;
}

.ui.segment,.ui.message {
  text-align: justify;
}

.ui.centered.buttons,.ui.centered.button {
/* MUST NOT be used with margin: auto !! */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.center480 {
  max-width: 480px;
  margin-left: auto!important;
  margin-right: auto!important;
}

#scrollTop {
  display: none;
  position: fixed;
  right: 5em;
  bottom: 2em;
}

/******
  Bars
 ******/

#unansweredCount {
  padding: 4px 8px;
  border-radius: 0.5em;
}
nav.ui.menu, footer.ui.menu {
  border-radius: 0;
  font-family: 'Open Sans'; /* TODO same as @pageFont from Semantic site theme */
}
nav.ui.menu >.item:first-child {
  font-family: Damion, cursive;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 2rem;
}

#outWrapper {
  min-height: 100%;
  margin-bottom: -3.2em; /* 3.2em is the height+margin-top of footer */
}
#outWrapper::after {
  height: 3.2em;
  width: 100%;
  display: block;
  content: '';
}
