h1 {
  font-family: 'Bookman Old Style', Garamond, serif;
  text-align: center;
}

h2 {
  font-family: Calibri, Tahoma, sans-serif;
  color: #510;
}

h3 {
  font-family: Candara, Tahoma, sans-serif;
  color: #5C365C;
}

dfn::before {
  content: "”";
}
dfn::after {
  content: "”";
}
