/* Copyright notices are located in the same directory as this file */
@font-face {
	font-family: Aliquam;
	src: url('Aliquam.ttf');
}
@FONT-FACE {
	font-family: Leander;
	src: url('Leander.ttf');
}
@FONT-FACE {
	font-family: Trench;
	src: url('trench.otf');
}
@FONT-FACE {
	font-family: Comfortaa;
	src: url('Comfortaa.ttf');
}
@font-face {
	font-family: 'Josefin Sans';
	src: url('JosefinSans.ttf');
}